root { 
    display: block;
}
body
{
    overflow-y: hidden;
}
body.ui-mobile-viewport, div.ui-mobile-viewport {
    overflow-x: hidden;
    overflow-y: hidden;
}
.footer-div
{
    float: left;
    position: relative;
    width: 24%;
    text-align: center;
    line-height: 2.6em;
    border-right: 1px solid grey;
    cursor: pointer; 
}

.last
{
    border-right: 0px;
}

.option
{
/*     background: green;*/
     opacity:0.4;
     height: 13px;
     width: 250px;
     position: absolute;
}
.container
{
    position: relative;
}
.footer-button
{
    width:100%;
}
.footer
{
    position: absolute;
    height:40px;
    width: 100%;
    background-color: black;
    z-index: 10;
    opacity:0.5;
}
.ui-grid-c
{
    margin-top: 9px;
}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited 
{
    color: white;
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a
{
    color: white;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
    text-shadow: none;
}